{% extends "lay.html" %}

{% block pagetitle %}<h1>Strona glowna</h1>{{ mess }}{% endblock %}

{% block content %}
    <iframe src="{{ STATIC_URL }}start" style="width: 100%; height: 100%; frameborder: 0;"></iframe>
{% endblock %}