<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta http-equiv="Refresh" content="5" />
    {% load staticfiles %}
</head>
<body>

{% for entry in entries %}
    <div style="max-width: 100%;">
        <hr/>
        <table style="width: 100%;">
            <tr>
                <!--<td style="width: 80%;"><h2>{ { entry.title }}</h2></td>-->
                <!--<td>{% if user.is_authenticated %} <!--% if entry.can_edit %}-- <a href="{{ STATIC_URL }}edit/{{entry.pk}}">Edit</a> <!--% endif %}-- {% endif %}</td>-->
            </tr>
        </table>
        <!--<p style="font-size: 12px;"> • {% for tag in entry.tags.all %} <a href="{{ STATIC_URL }}tags/{{tag.id}}">{{ tag.name }}</a>, {%endfor%}</p>-->
        <p style="font-size: 18px;">{{ entry.text }}</p>
        <p style="font-size: 12px;">Napisano {{entry.pub_date}} przez <a href="{{ STATIC_URL }}users/{{entry.author.id}}">{{entry.author}}</a><!--{% if entry.be_edit %} i edytowano { {entry.edit_date}} przez <a href="{ { STATIC_URL }}users/{ {entry.edit_user.id}}">{ {entry.edit_user}}</a>{% endif %}</p>-->
    </div>
{%  endfor %}

</body>
</html>